{{ define "main" }}
<h2>{{ .Title }}</h2>
{{ .Content }}
<ul class="work-list">
{{ range .Pages.ByWeight }}
{{ $p := . }}
<li class="work-item">
<div class="work-item-meta">
<a class="work-item-title" href="{{ $p.RelPermalink }}">{{ $p.LinkTitle }}</a>
</div>
{{ with $p.Params.thumbnail }}
{{ $img := $p.Resources.GetMatch . }}
{{ if not $img }}{{ $img = resources.Get . }}{{ end }}
{{ if $img }}<a class="work-item-thumb" href="{{ $p.RelPermalink }}">{{ partial "image.html" (dict "resource" $img "alt" $p.Title "class" "work-thumbnail") }}</a>{{ end }}
{{ end }}
</li>
{{ end }}
</ul>
{{ end }}
